<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image/Text to Calendar Converter</title>
    <link rel="stylesheet" href="..\static\css\styles.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Luxurious+Script&display=swap" rel="stylesheet">

</head>

<body>
<script src="..\static\js\script.js"></script> 
<h1>AGENDA </h1>
<form action="/submit" method="POST" enctype="multipart/form-data">

    <label id="tagline">Never miss an event!</label>
    <label>Select an image</label>
    <input type="file" id="upload" name="image" accept="image/*" style="display: none;" />

    <button type="button" onclick="document.getElementById('upload').click();">
      Choose File
    </button>

    <label style="margin-top: 1px">or</label>
    <button type="button" id="startCamera">Open Camera</button>
    <video id="video" width="300" height="200" style="display: none"></video>
    <button type="button" id="capture" style="display: none">
      Capture Photo
    </button>
    <canvas id="canvas" style="display: none"></canvas>
    <input type="hidden" id="cameraImage" name="cameraImage" />
    
    <label> or </label>
    <button type="button" id="startRecording">Start Recording</button>
    <button type="button" id="stopRecording" style="display: none">
      Stop Recording
    </button>
    <label style="margin-top: 5px">Additional prompt or details</label>
    <textarea id="prompt" name="prompt" rows="3"></textarea>
    <button id="rawr" type="submit">Add to Calendar</button>
  </form>
</body>

</html>